<form class="{{cssClass}}" autocomplete="off">
  <div class="flexcol">
    {{> journalEntryPageHeader}}
    <div class="dialogue-data-container form-group">
      <label>{{localize "JOURNALENTRYPAGE.BRANCH_OUT.Dialogue.NodeId"}}</label>
      <input type="text" class="node-id-input" value="{{dialogue.nodeId}}" disabled>
    </div>
  </div>
  <div class="text-dialogue-container">
    <h2>{{localize "JOURNALENTRYPAGE.BRANCH_OUT.Dialogue.FIELDS.text.label"}}</h2>
    <p class="hint">
      {{localize "JOURNALENTRYPAGE.BRANCH_OUT.Dialogue.FIELDS.text.hint"}}
    </p>
    <div class="editor-container">
      {{formInput dialogue.text.field value=dialogue.text.value compact=true }}
    </div>
  </div>
  <div class="choices-container list-container">
    <div class="choices-header list-header flexrow">
      <h2 class="title-list-header">
        {{localize
        "JOURNALENTRYPAGE.BRANCH_OUT.Dialogue.DialogueChoices.Label"
        }}
      </h2>

      <div class="list-controls">
        <a data-action="createChoice" data-tooltip="{{localize 'DOCUMENT.Create' type=" Choice"}}">
          <i class="fa-classic fa-plus-square"></i>
        </a>
      </div>
    </div>
    <p class="hint">
      {{localize "JOURNALENTRYPAGE.BRANCH_OUT.Dialogue.DialogueChoices.Hint"}}
    </p>
    <ul class="choices-list list-element">
      {{#each dialogue.choicesField as | choiceField choiceKey|}}
      <li class="choice-container item-list">
        <div class="choice-header item-header flexrow">
          <i class="accordion-icon fa-solid fa-angle-down"></i>
          {{formInput
          choiceField.choiceName.field
          value=choiceField.choiceName.value
          name=choiceField.choiceName.name
          localize=true
          }}
          <input class="input-id" type="text" value="{{choiceKey}}" data-tooltip="Choice ID" disabled>
          <a class="delete-choice fa-solid fa-trash" data-action="deleteChoice" data-choice-key="{{choiceKey}}"></a>
        </div>
        <div class="choice-content item-content">
          <div class="choice-text-fields item-fields">
            {{formGroup
            choiceField.choiceText.field
            value=choiceField.choiceText.value
            name=choiceField.choiceText.name
            localize=true
            stacked=true
            }}
          </div>
          <div class="next-node-field item-fields">
            {{formGroup
            choiceField.nextNodeId.field
            value=choiceField.nextNodeId.value
            choices=choiceField.nextNodeId.choices
            name=choiceField.nextNodeId.name
            localize=true
            stacked=true
            }}
          </div>
          <h3 class="item-subtitle">
            {{localize "JOURNALENTRYPAGE.BRANCH_OUT.Dialogue.CHOICES_FIELD.states.label"}}
          </h3>
          <div class="states-fields space-around-fields item-fields flexrow">
            {{formGroup
            choiceField.state.hidden.field
            value=choiceField.state.hidden.value
            name=choiceField.state.hidden.name
            localize=true
            }}
            {{formGroup
            choiceField.state.disabled.field
            value=choiceField.state.disabled.value
            name=choiceField.state.disabled.name
            localize=true
            }}
          </div>
          <h3 class="item-subtitle">
            {{localize "JOURNALENTRYPAGE.BRANCH_OUT.Dialogue.CHOICES_FIELD.condition.label"}}
          </h3>
          <div class="condition-fields item-fields">
            {{formGroup
            choiceField.condition.field
            value=choiceField.condition.value
            name=choiceField.condition.name
            localize=true
            }}
            {{formGroup
            choiceField.condition.command.field
            value=choiceField.condition.command.value
            name=choiceField.condition.command.name
            localize=true
            }}
          </div>
          <h3 class="item-subtitle">
            {{localize "JOURNALENTRYPAGE.BRANCH_OUT.Dialogue.CHOICES_FIELD.effectsCommand.label"}}
          </h3>
          <p class="hint">
            {{localize "JOURNALENTRYPAGE.BRANCH_OUT.Dialogue.CHOICES_FIELD.effectsCommand.hint"}}
          </p>
          <div class="effects-field item-fields form-group">
            <button type="button" data-action="effectManager" data-choice-key="{{choiceKey}}">
              <i class="fa-regular fa-atom-simple"></i>
              {{localize "BRANCH_OUT.DIALOGUE_EFFECT_MANAGER.Title"}}
            </button>
          </div>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
</form>